.catalog-container {
    margin-top: 26px;
    padding: 0 40px;
}

.catalog-title {
    font-size: 24px;
    letter-spacing: -0.015em;
    line-height: 33px;    
}

.catalog-products {
    margin-top: 43px;
    display: grid;
    grid-gap: 33px 30px;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
}