.main-nav {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    margin: 0;
    padding: 0 40px;
    width: 100%;
}

.nav-logo-text {
    color: #fff;
    width: 30%;
}

.menu-mobile-btn {
    display: none;
}

.menu-container {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;
    width: 55%;
}

.main-menu {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 300px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;

    &.active {
        color: white;
        font-weight: bold;
    }

    &:hover {
        color: white;
    }
}

//Mobile Breakpoints

@media (max-width: 768px) {
    .menu-container {
        justify-content: flex-end;
    }
}

@media (max-width: 576px) {
    .main-nav {
        width: 100% !important;
    }

    .menu-container,
    .user-info-dnone {
        display: none;
    }

    .nav-logo-text {
        margin-left: 15px;
        width: 50%;
    }

    .menu-mobile-btn {
        background: transparent;
        border: none;
        display: block;
        outline: none;
        width: 30px;
    }

    .menu-mobile-container {
        background: #407bff;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 10px;
        position: absolute;
        top: 70px;
        width: 100%;
        z-index: 10;

        ul {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            flex: 1;
            top: 40px;
            height: 150px;

            li {
                margin: 5px 0;
                width: 96vw;
            }
        }
    }
}
