.main-nav {
    align-items: center;
    color: white;
    height: 70px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-logo-text {
    color: #fff;
}

.main-menu {
    display: flex;
    justify-content: center;

    li:nth-child(2) {
        margin-left: 85px;
        margin-right: 85px;
    }
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;

    &.active {
        color: white;
        font-weight: bold;
    }

    &:hover {
        color: white;
    }
}
