.categories-select__control {
    border: 1px solid #e1e1e1;
    border-radius: 10px !important;
    height: 50px;
}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder{
    color: #9e9e9e;
}