.product-card-admin{
    border-radius: 10px;
    margin-bottom: 20px;

    .product-currency {
        font-size: 14px;
    }

    .product-price {
        font-size: 24px;
    }
}

.produt-card-image-admin{
    height: 100px;
    width: 100px;
}

.product-card-name-admin{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}