.upload-button-container {
    label {
        background-color: #9e9e9e;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: -0.015em;
        line-height: 19px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }
}

.upload-text-helper {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.015em;
    line-height: 19px;
}

.upload-placeholder {
    .upload-progress-container {
        background: #e1e1e1;
        bottom: 10px;
        border-radius: 10px;
        height: 10px;
        left: 25px;
        position: absolute;
        width: 175px;
    }

    .upload-progress {
        background: #407bff;
        border-radius: 10px;
        height: 10px;
    }

    .uploaded-image {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .upload-button-container label {
        width: 200px;
        word-wrap: none;
    }
}

@media (max-width: 576px) {
    .upload-button-container label {
        width: 250px;
    }

    small {
        display: none;
    }

    .upload-placeholder {
        width: 100vw !important;
        margin-left: 40px;
        .uploaded-image {
            align-self: center;
        }

        .upload-progress-container {
            margin-left: 20px;
        }
    }
}
